<h2>Q1 1.1

In [1]:
def is_multiple(n,m):
    if m//n == m/n or n//m == n/m:
        return True
    else:
        return False

print(is_multiple(3,5))
print(is_multiple(3,6))
print(is_multiple(6,18))

False
True
True

<h2> Q2 1.2

In [30]:
e = ['0','2','4','6','8']

def is_even(k):
    t = False
    for a in e:
        if k[len(k)-1] == a:
            t = True
    return t

print(is_even('22'))
print(is_even('23'))
print(is_even('-24'))
print(is_even('-25'))

True
False
True
False

<h2> Q3 1.3

In [33]:
def minmax(data):
    if len(data) > 0:
        mn = data[0]
        mx = data[0]
        for a in data[1:]:
            if mx < a:
                mx = a
            if mn > a:
                mn = a
        return (mn,mx)
    else:
        print("Data is out of range")
    
    
        
print(minmax([2,3,1,5,11,87,1,0,45]))
print(minmax([]))
print(minmax([2,3,1,5,11,87,1,0,-45]))

(0, 87)
Data is out of range
None
(-45, 87)

<h2> Q4 1.4

In [36]:
def squaresum(n):
    t = 0
    for a in range(1,n):
        t += a*a
    return t

print(squaresum(5))
print(squaresum(-10))
print(squaresum(15))

30
0
1015


<h2> Q5 1.5

In [38]:
def squaresum(n):
    return sum([x*x for x in range(1,n) if x > 0])

print(squaresum(5))
print(squaresum(-10))
print(squaresum(10))
print(squaresum(15))

30
0
285
1015